html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}

body{
	background:#161421;
	font-family:Verdana, Geneva, sans-serif;
	color:white;}
	
body p{
	font-size:14px;
	line-height:22px;
	font-weight:100;}
	
body a{
	font-family:Verdana, Geneva, sans-serif;
	color:white;
	text-decoration:none;}
	
.wrapper{
	background:white;
	max-width:1366px;
	width:100%; margin:0 auto;
	position: inherit !important;}
	
.slider{ width:100%; border-radius:0px; border-color:transparent;}  

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      margin: auto;
  }
  
 .carousel-caption{
	 top:15% !important;}

.carousel-caption h3{
	font-size:44px;
	color:#e4e4e4;
	text-align:center;
	line-height:58px;
	font-weight:500;}
	
.carousel-caption .btn{
	background-color:transparent !important;
	font-size:25px;
	color:#e4e4e4;
	margin-top:20px;
	border:2px solid #afb1b4;
	font-weight:100;}
	
.btn-default:hover{
	color:#4b96a1;
	border-color:#4b96a1;}
	
.carousel-indicators li{
	background-color:white;
	width:7px;
	height:7px;
	margin:0;
	border:none;}
	
.carousel-indicators .active{
	background-color:#69728c;
	width:7px;
	height:7px;}
	
.things{
	 margin-top:50px;
	 color:#4c505d;
	 text-align:center;}
	
.things h6{
	 font-size:30px;
	 line-height:50px;
	 margin-bottom:20px;}
	 
.things img{
	margin-left:10%;}
	
.dhavan{
	background:#00d089;
	margin-top:50px;
	padding-top:100px;}
	
.dhavan-contant{
	background:url(../image/dhavan-bg.gif) bottom right no-repeat;
	width:290px;
	height:130px;
	margin:0 auto;
	text-align:center;}
	
.dhavan-contant h6{
	font-size:20px;
	float:inherit;}
	
.dhavan .col-sm-12{
	padding:50px 14% 85px !important;}
	
.dhavan .col-sm-12 p{
	line-height:30px;}
	
.map{
	background:url(../image/map.gif);
	padding:40px 0;}
	
.feedback{
	background:white;
	width:360px;
	margin:0 auto;
	padding:70px 70px 30px;
	border-radius:100%;
	border:1px solid #4c505d;}
	
.feedback input, textarea{
	width:100%;
	margin-bottom:10px;
	color:#4c505d;
	padding:5px;
	font-size:14px;}
	
.feedback button{
	background:#00d089;
	font-size:30px;
	border:none;
	padding:10px;
	border-radius:100%;}
	
footer{
	background:#00d089;
	padding:10px 0;
	text-align:center;
	font-size:14px;}
	
.next-page a{
	color:#4b96a1;
	font-size:30px;
	line-height:0;
	position:fixed;
	right:10px;
	top:50%;
	padding:18px 7px;
	border-radius:100%;
	border:2px solid #4b96a1;}
	
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    font-size:36px;
    color:white;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
	 
}
 
#back-to-top.show {
    opacity: 1;
}